<div class="wrapper">
    <form [formGroup]="filterForm" (submit)="getOrdersFromServer()">
        <div class="searchbox">>
            <select id="orderFilter" formControlName="filter">
                <option value="Kuchnia">Kuchnia</option>
                <option value="Gotowe">Gotowe</option>
            </select>

            <button class="button">Szukaj</button>
        </div>
    </form>

    <div class="orders">
        @if(orderList){
        @for (order of orderList; track $index){

        <app-order [order]=orderList[$index] (callChangeStatus)="changeOrderStatus($index)"
            (callEditOrder)="editOrder($index)"></app-order>
        }
        }
        @else{
        <p>Brak nowych zamówień</p>
        }
    </div>
</div>