.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95vw;
  min-width: 90%;
  padding: 1.5rem 0.2rem;
  max-width: 1200px;
}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--white);
  background-color: var(--dark-gray);

  select {
    margin: 1rem;
    padding: 0.5rem;
    min-width: 50%;
    max-width: 50%;
    border-radius: 16px;
    background-color: transparent;
    border: 3px solid var(--light-gray);
    color: #fff;
  }

  option {
    color: #333;
  }
}




  // &__inputbox {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  // }

  // &__input {
  //     margin: 0rem 1rem 1rem;
  //     padding: 0.5rem;
  //     min-width: 50%;
  //     max-width: 50%;
  // }


.button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--mint);
    font-size: 1.5rem;
    color: var(--white);
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--mint);
    }

  }