<div class="wrapper">
    <section class="section">
        <div class="section__header">
            <h2>Pozycje menu</h2>
        </div>
        <div class="section__content">
            <div class="menu-positions">
                @for (menuItem of menuList; track $index){
                <button class="menu-positions__item" [attr.data-price]="menuItem.price"
                    [attr.data-category]="menuItem.category" (click)="addItemToOrder('Menu',$index)">
                    {{menuItem.number}} {{menuItem.name}}
                </button>
                }
            </div>

            <form [formGroup]="extraItemForm" class="orderInfo-element" (submit)="addItemToOrder('Extra')"
                class="section__inputbox">

                <label for="extra">Inne (zł):</label>
                <input formControlName="price" type="number" placeholder="Inne" class="section__input">

                <button class="section__button">Dodaj</button>

            </form>


        </div>
    </section>
    <!-- 
    <div>Form Contents: {{ orderForm.value | json }}</div>
    <div>Form Contents: {{ editItemForm.value | json }}</div>
    <div>Form Contents: {{ extraItemForm.value | json }}</div> -->

    <form [formGroup]="orderForm" (submit)="sendOrder()">
        <section class="section">
            <div class="section__header">
                <h2>Opcje zamówienia</h2>
            </div>
            <div class="section__content">
                @if(orderList.length && orderForm.invalid){

                <p class="productsList__info productsList__info--validation">Wypełnij wszystkie pola zamówienia (Sposób płatności, Czas, Typ)</p>
                }
                <div class="section__inputbox">
                    <label for="orderPayment">Sposób płatności</label>
                    <select id="orderPayment" formControlName="payment" class="section__input">
                        <option value="Karta">Karta</option>
                        <option value="Gotowka">Gotówka</option>
                        <option value="Oplacone">Opłacone</option>
                    </select>

                </div>
                <div class="section__inputbox">
                    <label for="orderTime">Czas</label>
                    <input id="orderTime" type="time" formControlName="time" class="section__input">

                </div>
                <div class="section__inputbox">
                    <label for="orderType">Typ zamówienia</label>
                    <select id="orderType" formControlName="type" class="section__input">
                        <option value="Sala">Sala</option>
                        <option value="Odbior">Odbiór</option>
                        <option value="Dostawa">Dostawa</option>
                    </select>
                </div>

                <div class="section__inputbox">
                    @if(isDelivery()){
                    <label for="delivery">🚚 Dostawa - wyszukaj adres: [Miasto Ulica]</label>
                    <input id="delivery" type="text" placeholder="Wpisz adres" formControlName="address"
                        class="section__input">

                    @if(mapShow){
                    <div id="leafletmap" class="leafletmap"></div>

                    <div class="leafletmap__buttons">
                        <button type="button" (click)="addItemToOrder('Delivery')" class="section__button">Dodaj</button>
                        <button type="button" (click)="mapShow = false" class="section__button">Anuluj</button>

                    </div>
                    }
                    @else{
                    <button type="button" (click)="searchLocalisation()" class="section__button">Wyszukaj</button>
                    }
                    }
                </div>
            </div>
        </section>

        <section class="section">
            <div class="section__header">
                <h2>Podsumowanie</h2>
            </div>
            <div class="section__content">
                <div class="productsList">
                    <p class="productsList__info">Liczba elementów: {{orderList.length}}</p>
                    <ul>
                        @for(orderItem of orderList; track $index){
                        <li class="productItem">

                            @if(orderItem.inEdit){

                            <div class="productItem__editbox">
                                <form [formGroup]="editItemForm"
                                    (submit)="editOrderItemSet($index); orderItem.inEdit=false;">
                                    <div class="section__inputbox">
                                        <label for="editItem-name">Produkt :</label>
                                        <input formControlName="name" type="text" id="editItem-name"
                                            placeholder="Zmień produkt" value="{{orderItem.name}}"
                                            class="section__input">
                                    </div>
                                    <div class="section__inputbox">
                                        <label for="editItem-price">Cena:</label>
                                        <input formControlName="price" type="text" id="editItem-price"
                                            placeholder="Podaj nową cene" value="{{orderItem.price}}"
                                            class="section__input">
                                    </div>
                                    <div class="section__inputbox">
                                        <button type="submit" class="section__button">Zatwierdź</button>
                                    </div>
                                </form>
                            </div>
                            }
                            @else{
                            @if(orderItem.type === 'Pizza'){
                            <p class="productItem__icon">🍕</p>
                            }
                            @else if(orderItem.type === 'Oliwa'){
                            <p class="productItem__icon">🫒</p>
                            }
                            @else if(orderItem.type === 'Extra'){
                            <p class="productItem__icon">ℹ️</p>
                            }
                            @else if(orderItem.type === 'Delivery'){
                            <p class="productItem__icon">🚚</p>
                            }
                            <div class="productItem__content">
                                <div class="productItem__infobox">
                                    <p class="productItem__name">{{orderItem.name}} </p>
                                    <p class="productItem__price"> {{orderItem.price}} zł</p>
                                </div>
                                <div class="productItem__buttonbox">
                                    <button type="button" (click)="removeOrderItem($index)"
                                        class="section__button productItem__button productItem__button--remove">Usuń</button>
                                    <button type="button" (click)="orderItem.inEdit = true; editOrderItemStart($index)"
                                        class="section__button productItem__button productItem__button--edit">Edytuj</button>
                                </div>
                            </div>
                            }

                        </li>
                        }
                    </ul>
                    <div class="productsList__summary">
                        <p class="productsList__info">Suma zamówienia: </p>
                        <p [attr.value]="orderTotal" class="productsList__info productsList__info--price">
                            {{getOrderTotal()}} zł </p>

                    </div>
                    <div class="productsList__buttons">
                        <button type="button" (click)="clearOrder()" class="section__button">Wyczyść</button>
                        @if(orderList.length){
                        <button type="submit" [disabled]="orderForm.invalid" class="section__button">Gotowe</button>
                        }

                    </div>

                </div>
            </div>
        </section>
    </form>


</div>