.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
  min-width: 350px;
  padding: 0.2em;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(13, 1fr);
  gap: 10px 20px;
  grid-auto-flow: row;
  padding: 0.5em;

  &-item {
    padding: 0.5em 1em;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--mint);
    }
  }
}

.items {
  margin: 2em;
  padding: 2em;
  border: 2px solid black;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    text-align: left;
    list-style: none;

    & hr {
      width: 100%;
    }
  }
}

.orderInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
  }

  & label {
    text-align: center;
  }
  & select{
    width: 18em;
    padding: 1rem;
  }

  &-delivery {
    &--addBtn {
      background-color: #506894;
    }
  }

  & input {
    width: 18em;
    padding: 1em 0.5em;
  }

  & button {
    margin: 0.5em 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--mint);
    cursor: pointer;
  }
}

.products-list {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  color: #333;
  background-color: #fff;

  p {
    display: block;
    font-size: 1.2rem;
    text-align: center;
  }

  &-result {
    color: rgb(12, 64, 236);
    margin-bottom: 1em;
  }

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    text-align: center;
    list-style: none;

    & hr {
      width: 100%;
    }
  }

  &-button {
    padding: 1em 2em;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #333;
      color: white;
    }

    &-remove {
      font-size: 0.7rem;
    }

    &-save {
      background-color: rgb(12, 64, 236);
      color: white;

      &:hover {
        background-color: rgb(97, 129, 255);
        color: #333;
      }
    }
  }

  &-visible {
    display: flex;
  }
}

.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 40vh;
  width: 50vw;
}