<div class="navigate">
    <button (click)="panel='waiter'" class="navigate-button">Bar</button>
    <button (click)="panel='kitchen'" class="navigate-button">Kuchnia</button>
    <button (click)="panel='orders'" class="navigate-button">Zamówienia</button>
</div>

<div class="content">
    @if(panel==='waiter'){
    <app-waiter-panel [routeInfo]="routeInfo" (searchAddress)="searchAddress($event)"></app-waiter-panel>
    }
    @else if(panel==='kitchen'){
    <app-kitchen-panel></app-kitchen-panel>
    }
</div>